<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLBHConnection"
			 connectionString ="Server=.\\SQLEXPRESS;Database=QLBH;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName = "System.Data.SqlClient"/>
		<runtime>
			<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
				<dependentAssembly>
					<assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
					<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
				</dependentAssembly>
			</assemblyBinding>
		</runtime>
	</connectionStrings>
</configuration>